@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

a, a:hover { 
    text-decoration: none;
    color: unset;
}

.git-container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
} 

main {
    padding: 0 20px;
}

.section-container {
    padding: 30px 0;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}